﻿@model NextCms.Shared.Content.Page
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create Page</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
        @Html.LabelFor(model => model.Title)<br />
        @Html.TextBoxFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Slug)<br />
        @Html.TextBoxFor(model =>  model.Slug)
    </p>
    
    <input type="submit" value="Create Page" />
}