﻿@model NextCms.Shared.Content.Page
@{
    ViewBag.Title = "Edit Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit Page</h2>

@using(Html.BeginForm())
{
    @Html.HiddenFor(model => model.PageId)
    <p>
        @Html.LabelFor(model => model.Title)<br />
        @Html.TextBoxFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Slug)<br />
        @Html.TextBoxFor(model => model.Slug)
    </p>
    
    <input type="submit" value="Save Page" />
}

@using (Html.BeginForm("Create"))
{
    @Html.Hidden("ParentPageId", Model.PageId)
    <p>
        @Html.LabelFor(model => model.Title)<br />
        @Html.TextBoxFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Slug)<br />
        @Html.TextBoxFor(model => model.Slug)
    </p>
    
    <input type="submit" value="Create Sub Page" />
}

