﻿@model IList<NextCms.Shared.Content.Page>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Pages</h2>

@Html.ActionLink("Add New Page", "Create", "Page")<br />
<br />
<table style="border: 0px;">
    <tr>
        <th>Title</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var page in Model)
    {
        <tr>
            <td>@page.Title</td>
            <td>@Html.ActionLink("Edit", "Edit", new {id = page.PageId})</td>
        </tr>
    }
</table>